/* Webfont: FUNGIS-Heavy */@font-face {
    font-family: 'FUNGISHeavy';
    src: url('grotescalighter.eot'); /* IE9 Compat Modes */
    src: url('grotescalighter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('grotescalighter.woff') format('woff'), /* Modern Browsers */
         url('grotescalighter.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

