/* Webfont: FUNGIS-Bold */@font-face {
    font-family: 'FUNGISBold';
    src: url('grotescalight.eot'); /* IE9 Compat Modes */
    src: url('grotescalight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('grotescalight.woff') format('woff'), /* Modern Browsers */
         url('grotescalight.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

