/* Webfont: FUNGIS-Heavy */@font-face {
    font-family: 'FUNGISHeavy';
    src: url('grotescalighter.woff2') format('woff2'), /* Modern Browsers */
         url('grotescalighter.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

