/* Webfont: FUNGIS-Regular */@font-face {
    font-family: 'FUNGISRegular';
    src: url('grotesca44.woff2') format('woff2'), /* Modern Browsers */
         url('grotesca44.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

